<ion-view view-title="{{raffle.data.lottoID}}">
  <ion-content class="padding">
    <h2>{{raffle.data.lottoID}}</h2>
    <span ng-repeat="ball in raffle.totalBalls">
      <input
        id="id_{{ball.ballValue}}"
        type="checkbox"
        ng-change="addBallToCombiToSave(ball)"
        ng-model="ball.isChecked"
      />
      <label
      class="homeLottoPage--{{ball.isChecked ? 'isChecked' : 'nop'}}"
      for="id_{{ball.ballValue}}">
      <span class="homeLottoPage__item--number">
        {{ball.ballValue}}
      </span>
    </label>
    </span>
    <hr>
    <span ng-repeat="combi in raffle.combiToSave">
      {{combi.ballValue > 0 ? combi.ballValue : ''}}
    </span>
    <div class="button-bar bar-positive">
      <button
        class="button"
        ng-click="getRandomBallsByLotto()">
          Random
      </button>
      <button
        class="button"
        ng-disabled="!(getCountChecked() === raffle.countBalls)"
        ng-click="saveSelectedNumbers()">
        Save
      </button>
      <button
        class="button"
        ng-disabled="!(getCountChecked() > 0)"
        ng-click="clearAndUncheck()">
        Clear
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
