<ion-view>
  <ion-nav-title>{{raffle.data.lottoID}}</ion-nav-title>
  <ion-content class="padding">
    <h2>{{raffle.data.lottoID}} {{raffle.combinations.length}}</h2>
    <card-ball
      title="Most repeated"
      card-balls="raffle.mostRepeated"
      is-toggle-card="true"
    ></card-ball>
    <span ng-repeat="ball in raffle.totalBalls">
      <input
        id="id_{{ball.ballValue}}"
        type="checkbox"
        ng-change="addBallToCombiToSave(ball)"
        ng-model="ball.isChecked"
      />
      <label
      class="homeLottoPage--{{ball.isChecked ? 'isChecked' : 'nop'}}"
      for="id_{{ball.ballValue}}">
      <span class="homeLottoPage__item--number">
        {{addStringZero(ball.ballValue)}}
      </span>
    </label>
    </span>
    <hr>
    <span ng-repeat="combi in raffle.combiToSave | orderBy:'ballValue' track by $index ">
      {{addStringZero(combi.ballValue)}}
    </span>
    <action-buttons
      first-call="getRandomBallsByLotto()"
      first-text="Random"
      second-call="clearAndUncheck()"
      second-text="Clear"
      third-call="saveSelectedNumbers()"
      third-text="Save"
      count-checked="getCountChecked()"
      count-balls="raffle.countBalls"
    ></action-buttons>
  </div>
  </ion-content>
</ion-view>
