/* Empty. Add your own CSS if you like */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster+Two');

.homeLottoPage__cardBalls .item-body {
  padding: 6px !important;
}

.lottoApp {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100vh;
  flex-direction: row;
}

.lottoApp__title {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  /* height: 50vh; */
  margin: 0 auto;
}

.lottoApp__title p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
}

.lottoApp__title h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 120px;
  text-shadow: 0px 2px 8px rgb(239,71,58);
  animation: neon 5s linear infinite alternate;
  text-align: center;
}

.winnersTable {
  margin: 0 auto;
  font-size: 13px;
}
.winnersTable th,
.winnersTable td {
  text-align: center;
  padding: 3px;
}
.winnersTable th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.winnersTable tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.ball {
  display: block;
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.ball--unactive {
  background: radial-gradient(circle at 16px 16px, #5cabff, #4c4c4c);
}
.ball--active {
  background: radial-gradient(circle at 16px 16px, red, #4c4c4c);
}
.ball--greenItem {
  background: radial-gradient(circle at 16px 16px, green, #4c4c4c);
}
.ball--redItem {
  background: radial-gradient(circle at 16px 16px, red, #4c4c4c);
}
.ball--orangeItem {
  background: radial-gradient(circle at 16px 16px, orange, #4c4c4c);
}

.ball .shadow {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, transparent 50%);
  transform: rotateX(80deg) translateZ(-18px);
  z-index: -1;
}

.stage {
  width: 36px;
  height: 50px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  display: inline-block;;
}

.cardToggle {
  position: absolute;
  top: 5px;
  right: 10px;
}
.cardToggle__text {
  position: relative;
  top: -5px;
  right: 10px;
}
.cardToggle .toggle .handle {
  width: 18px;
  height: 19px;
  top: 8px;
  left: 5px;
}
.cardToggle .toggle .track {
  width: 40px;
  height: 25px;
}
.cardToggle__list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
.cardToggle__item {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
.cardToggle__item:last-child {
  margin-left: 0;
}
.cardToggle__cardBalls--combi {
  position: absolute;
  top: 7px;
  color: white;
  width: 20px;
  left: 9px;
}
.cardToggle__cardBalls .stage {
  height: 35px;
}

.homePage {
  transform: translateY(50%);
}
.homePage__raffle {
  margin: 45px 0;
}

.homeLottoPage__list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
.homeLottoPage__item {
  display: inline-block;
  position: relative;
  margin: 1px;
}
.homeLottoPage__item:last-child {
  margin-left: 0;
}
.homeLottoPage__item--label {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}
.homeLottoPage__item--number {
  font-size: 16px;
  position: relative;
  top: 6px;
  left: 9px;
}
.homeLottoPage__cardBalls--combi {
  position: absolute;
  top: 7px;
  color: white;
  width: 20px;
  left: 9px;
}
.homeLottoPage__cardBalls .stage {
  height: 35px;
  margin: 0 6px;
}
.homeLottoPage .item .badge {
  right: 10px;
}
.homeLottoPage .item-note {
  margin-right: 30px;
}
.homeLottoPage .button-bar {
  padding: 10px;
}

.resultsPage__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
.resultsPage__item .stage {
  margin: 0 auto;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  /*display: inline-block*/
}
.resultsPage__item .ball {
  height: 30px;
  width: 30px;
}

.resultsPage__item button {
  margin-left: 20px;
}

.resultsPage__item--combi {
  position: absolute;
  top: 5px;
  color: white;
  width: 20px;
  left: 7px;
}

.statsPage__item {
  display: inline-block;
  margin: 0 9px;
}
.statsPage__item .stage {
  margin: 0 auto;
  height: 35px;
}
.statsPage__item--combi {
  position: absolute;
  top: 5px;
  color: #fff;
  left: 10px;
  font-size: 15px;
}
.statsPage__item--count {
  font-size: 11px;
  position: absolute;
  top: 27px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 8px;
  background: #fff;
  left: 3px;
}

.card-last-result{
  display: flex;
}

.item-note {
  float: none;
  margin-left: 40px;
}

.item.item-divider .badge {
  top: 5px;
  right: 5px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 360px;
  height: 100vh;
  display: flex;
}

.nav-bar-container {
  position: absolute;
  top: -92px;
}

.wrapper-img {
  margin: 0 auto;
  position: absolute;
  width: 364px;
  align-self: center;
}

.nav-bar-block,
.view-container {
  width: 325px;
  margin: 0 auto;
  position: relative;
}

.bar-header {
  top: 95px;
}

.view-container {
  height: 560px;
  align-self: center;
}

.app-content {
  align-items: center;
  display: flex;
  left: 17px;
}

.app-content input[type="checkbox"] {
  visibility: hidden !important;
}
@keyframes neon {
  0% {
    text-shadow: 0px 2px 8px rgb(239,71,58);
  }
  50% {
    text-shadow: -5px 2px 8px rgb(239,71,58);
  }
  100% {
    text-shadow: 5px 2px 8px rgb(239,71,58);
  }
}