/* Empty. Add your own CSS if you like */

.homeLottoPage--isChecked,
.ball--active{
  color: green;
  font-size: 18px;
}

.homeLottoPage--nop,
.ball--unactive{
  color: purple;
  font-size: 18px;
}

.tabs {
  bottom: 24px !important
}

section.stage.statsPage__item {
    display: inline-block;
}
